@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* font-family: 'Inter', sans-serif;*/
  /* font-family: 'Poppins', sans-serif; */
}

:root {
  --primary-color: #219D80;
  --primary-darker: #00725E;

  --section-padding: 70px 20px;
}

html,
body {
  height: 100%;
}

a,
img {
  width: 100%;
  display: block;
}

section,
footer {
  padding: var(--section-padding);
  font-size: 18px;
}

.section-h3 {
  text-transform: capitalize;
}

button {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  max-width: 500px;
  min-width: 250px;
}



button.primary-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary-color);
}

button.ghost-btn {
  background-color: transparent;
  color: #fff;
  border: 2px solid var(--primary-color);
}

button.secondary-btn {
  background-color: #CDC5C5;
  color: var(--primary-darker);
  border: 2px solid #CDC5C5;
  border-radius: 50px;
}








header .navbar-content {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 10px;
}


header .logo-container {
  width: 66px;
  cursor: pointer;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

header nav ul li {
  font-weight: 500;
  font-size: 16px;
}

header nav figure {
  width: 19.15px;
  margin-left: 10px;
  display: inline-block;
}

header .side-bar-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #efefef;
  color: #000;
  padding: 24px;
  z-index: 2;
  overflow-y: scroll;
}

header .side-bar-container .side-bar-content{
  width: 100%;
  height: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

header .side-bar-content ul {
  flex-direction: column;
  gap: 2rem;
}

header .side-bar-content ul figure {
  width: 14px;
}

.hamburger-menu {
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.hamburger-menu .bar:not(:first-child) {
  margin-top: 5px;
}

.close-btn-container {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 3px;
}

.close-btn-container .close-btn {
  font-size: 1.5rem;
  color: #efefef;
}

.main-nav,
.main-cta {
  display: none;
}





.hero-section {
  background: url('./Assets/hero-image.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.hero-section::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: -1;
}

.hero-section .hero-content {
  color: #fff;
  text-transform: capitalize;
}

.hero-section .hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 46px;
}

.hero-section .hero-content h2,
.hero-section .hero-content p {
  font-family: 'Montserrat', serif;
}

.hero-section .hero-content h2 {
  font-size: 20px;
}

.hero-section .hero-content p {
  color: #eee;
  font-size: 18px;
}

.hero-section .hero-content h1 {
  font-family: 'Playfair Display', serif;
}

.hero-btns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.hero-btns button {
  font-weight: 400;
  text-transform: capitalize;
}

.hero-btns button {
  width: 100%;
}



.about-section .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 2rem;
  font-family: 'Montserrat', sans-serif;
}


.about-content .section-h3 {
  color: #252A34;
  font-weight: 600;
  font-size: 16px;
}

.about-text-desc-header {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}

.about-text-desc {
  font-family: 'Montserrat', serif;
  font-size: 16px;
}

.about-text button {
  margin: 20px 0;
}



.feature-section .feature-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-family: 'Montserrat', sans-serif;
}


.feature-content .section-h3 {
  color: #252A34;
  font-weight: 600;
  font-size: 16px;
}

.feature-text-desc-header {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}

.feature-text-desc {
  font-family: 'Montserrat', serif;
  font-size: 16px;
}

.feauture-cards-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.feature-card {
  background-color: #EDF7F5;
  padding: 20px;
  text-align: left;
  max-width: 300px;
  min-width: 200px;
}

.feature-card .card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.feature-card .card-header h3 {
  font-size: 20px;
  color: #219D80;
  text-transform: capitalize;
  font-weight: 600;
}

.feature-card p {
  font-size: 16px;
}

.feature-card .card-description {
  margin-top: 1rem;
}

.feature-section .donation-section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-section .donation-content {
  width: 80%;
}

.feature-section .donation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-section .donation-header h3 {
  font-weight: 700;
}

.feature-section .donation-bar {
  margin-top: 1rem;
  background-color: #C7E7DF;
  width: 100%;
  height: 8px;
}

.feature-section .donation-bar .donation-percentage{
  background-color: #219D80;
  width: 72%;
  height: 100%;
}


.feature-section figure.feature-image {
  margin-top: 1rem;
}



.testimony-section {
  font-family: 'Montserrat', sans-serif;
}

.testimony-body .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.testimony-body .testimonial-card {
  border: 2px solid var(--primary-darker);
  padding: 2rem 1rem;
  text-align: left;
  max-width: 320px;
  min-width: 250px;
}

.testimony-body .testimonial-card .card-testimony {
  margin-bottom: 2rem;
}

.testimony-body .testimonial-card .card-testimony figure {
  width: 34px;
}

.testimony-section .testimony-header {
  text-align: left;
  margin-bottom: 3rem;
}


.testimony-section .section-h3 {
  color: var(--primary-darker);
  font-weight: 500;
  margin-bottom: 1rem;
}

.testimony-section .testimony-header p {
  font-size: 28px;
  font-weight: 700;
}

.testimony-body .testimonial-card .card-testimony {
  font-family: 'Montserrat', sans-serif;
}

.testimony-body .testimonial-card .card-testimony h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 24px;
  font-weight: 500;
}

.testimony-body .card-testimony p {
  font-size: 16px;
}

.testimony-section .card-profile {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.testimony-section .card-profile h3 {
  font-size: 24px;
  font-weight: 500;
}

.testimony-section .card-profile .profile-info h4 {
  font-size: 16px;
}








.cta-section {
  background-color: var(--primary-darker);
  color: #fff;
}

.cta-section .section-h3,
.cta-section p {
  font-family: 'Montserrat', sans-serif;
}

.cta-section p {
  font-size: 28px;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.cta-section button {
  width: 100%;
}


footer {
  background-color: #22262F;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 200;
}

footer .section-h3 {
  font-weight: 500;
  margin-bottom: .5rem;
}

footer .content-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .newsletter-field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  border-radius: 0;
}

footer .newsletter-field input {
  padding: 15px 25px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: none;
  max-width: 500px;
  min-width: 250px;
}

footer hr {
  margin: 20px 0;
}

footer .social-icons figure {
  background-color: #D9F5EE;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

footer .social-icons {
  display: flex;
  gap: 1rem;
  font-size: 24px;
  color: #22262F;
}

footer p {
  font-size: 16px;
}


@media screen and (min-width: 600px) {
  :root {
    --section-padding: 120px 50px;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --section-padding: 120px;
  }
  
  .hamburger-menu {
    display: none;
  }

  button {
    max-width: 200px;
  }

  .main-nav {
    display: block;
  }

  header button.main-cta {
    max-width: 145px;
    min-width: 145px;
    display: block;
  }

  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-content {
    width: 70%;
  }

  .hero-section .hero-content h1 {
    font-size: 72px;
  }

  .about-section .about-content {
    flex-direction: row;
    gap: 3rem;
  }

  .about-section .about-content figure {
    flex-basis: 100%;
  }

  .about-section .about-text {
    text-align: left;
    /* width: 70%; */
  }

  .about-section .about-text .about-text-desc-header {
    font-size: 39px;
  }

  .about-text button {
    margin-bottom: 0;
  }

  .about-section .section-h3 {
    font-size: 18px;
  }




  .feature-section .feature-content {
    flex-direction: row;
    gap: 3rem;
  }

  .feature-content .feature-image {
  }

  .feature-section .feature-text {
    text-align: left;
    width: 55%;
  }

  .feature-section .feauture-cards-container {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .feature-card {
    text-align: left;
    max-width: 240px;
    min-width: 200px;
    height: 210px;
    flex: 100%;
  }

  .feature-text-desc-header {
    font-size: 39px;
  }

  .donation-content {
    width: 100%;
  }

  .feature-section .donation-content {
    width: 100%;
  }

  footer {
    padding-bottom: 40px;
    padding-left: 100;
    padding-right: 100px;
  }

  footer .content-1 {
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }

  footer .newsletter-field button.primary-btn {
    min-width: 100%;
  }
 
  footer .social-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
